@import './fonts';
@import 'var';

*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: #F1F1F1;
	// background: url('favicon.ico');
	color: rgb(255, 255, 255);
	user-select: none;
	min-height: 100Vh;
	padding-bottom: 500px;
}
body.lock {
	overflow: hidden;
}

li {
	list-style-type: none;
}
a, a:hover {
	text-decoration: none;
}
.container {
	width: 100%;
	max-width: 1860px;
	padding: 0 10px;
	margin: 0 auto;
}
